.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #c0c0c0; /* prata */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background-color 0.3s ease;
  z-index: 9999;
  mix-blend-mode: difference; /* fica bonito em fundos escuros e claros */
  cursor: none !important;
}

.cursor.click {
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #c0c0c0;
}
