.ContainerAbout {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  padding: -8px;
  box-sizing: border-box;
  overflow: hidden; /* Impede transbordamento */
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(0,0,0,0.7091211484593838) 21%, rgba(0,0,0,1) 32%);

}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.image-wrapper {
  flex: 0 0 auto;
  width: 60%; /* Aumentei a proporção da imagem */
  margin-left: -1%; /* Puxa a imagem para a esquerda */
  position: relative;
  z-index: 1;
}

.about-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  
}

.textAbout {
  flex: 1;
  font-size: 18px;
  line-height: 1.8;
  padding: 4px;
  max-width: 900px; /* Limitei a largura do texto */
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.022);
  border-radius: 8px;
  margin-top: 155px;
}

.textAbout p{
font-family:Arial, Helvetica, sans-serif;
background: rgba(123, 123, 123, 0.141);
}

/* Responsividade */
@media (max-width: 1024px) {
  .contentWrapper {
    gap: 30px;
  }
  
  .image-wrapper {
    width: 50%;
    margin-left: -10%;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
    gap: 20px;
  }
  
  .image-wrapper {
    width: 100%;
    margin-left: 0;
  }
  
  .about-image {
    max-width: 100%;
  }
  
  .textAbout {
    max-width: 100%;
    padding: 15px;
  }
}